.fizzbuzz-card-container{
  padding: 15px;
}

.fizzbuzz-card {
  display: block;
  padding: 10px;
  border: 1px solid black;
  border-radius: 8px;
  margin-top: 10px;
}

.pagination-container{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
